* {
    margin: 0;
    box-sizing: border-box;
    color: white;
    box-sizing: border-box;
}

body,
html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

#nav {
    height: 150px;
    width: 100%;
    /* background-color: transparent; */
    display: flex;
    justify-content: space-around;
    position: fixed;
    align-items: center;
    z-index: 11;
}

.navlink {
    width: 60%;
    white-space: nowrap;
}

 .nav-button {
    background-color: black;
    border: 2px solid #95c11e;
    padding: 13px 30px;
    border-radius: 30px;
    transition: all 0.5s;
    position: relative;
    z-index: 99;
    white-space: nowrap;
}

 .nav-button a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
}

.nav-button:hover {
    scale: 0.93;
    background-color: #95c11e;
    color: black;
}

 .nav-button:hover a {
    color: black;
}

#nav img {
    height: 80%;
    margin-left: 5vw;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    gap: 3vw;
    margin-right: 8vw;

}

ul>li>a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}



/* toggle icons */

#toggle-icon {
    display: none;
}

#toggle-icon .close {
    display: none;
}

#cursor {

    height: 25px;
    width: 25px;
    background-color: #95c11e;
    position: fixed;
    border-radius: 50%;
    z-index: 99;
    transform: translate(-50%, -50%);
    pointer-events: none;

}


#cursor-blur {
    height: 400px;
    width: 400px;
    background-color: #96c11e6e;
    position: fixed;
    border-radius: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
    filter: blur(80px);
}

@media (max-width:1000px) {
    .nav-button {
        padding: 10px 20px;
    }

    #nav .nav-button a {

        font-size: 1rem;
    }

    #nav img {
        height: 70px;
    }
}


/* Toggle */
@media (max-width:768px) {
    #nav {
        justify-content: space-between;
    }

    .nav-button {
        display: none;
    }

    #page1 h1 {
        font-size: 4rem;
    }

    #page1 h2 {
        font-size: 1.45rem;
    }

    #page1 p {
        font-size: 1.25rem;
        width: 90%;
    }

    #toggle-icon {
        display: block;
    }

    #toggle-icon .open {
        margin-right: 50px;

    }

    .navlink {
        height: 100vh;
        width: 100%;
        background: linear-gradient(to left bottom, #95c11e, #119f3a);
        position: fixed;
        margin-right: 0;
        top: 0;
        right: -100%;
        z-index: 99;
        display: flex;
        justify-content: center;
        align-items: center;

        transition: all 1s;
        opacity: 0;
    }

    #nav .navlink ul {
        display: flex;
        flex-direction: column;
        gap: 40px;
        justify-content: center;
        align-items: center;
    }

    .active .navlink {
        right: 0;
        opacity: 1;
    }

    .active #toggle-icon .open {
        display: none;
    }

    .active #toggle-icon .close {
        display: block;
        margin-right: 50px;
        position: relative;
        z-index: 999;
    }
}

#main {
    min-height: 100vh;
    background-color: black;
    /* margin-top: 150px; */
}

#page1 {
    min-height: 100vh;

}

#page1 .container-fluid {
    padding-top: 170px;
}

.page1-left {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 85vh;
    /* width: 100%; */
}

.page1-left img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

#page1 .row {
    /* border: 2px solid green; */
    width: 100%;
    min-height: 60vh;

    gap: 2vw;
    /* padding: 0 20px; */
}

.page1-right {
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.page1-right #headingP {
    font-size: 1.33rem;
    font-weight: 800;
    color: #95c11e;
    padding-top: 20px;
    /* text-align: center; */
}

.page1-right h1 {
    font-size: 5rem;
    font-weight: 900;
    position: relative;
    z-index: 1;
    /* text-align: center; */
}

.page1-right h1::before {
    content: "GOLF LESSONS";
    position: absolute;
    z-index: -1;
    color: rgb(0, 0, 0);
    -webkit-text-stroke: 2px #95c11e;
    top: -3px;
    left: -3px;

}

.page1-right p {
    font-size: 1.2rem;
    line-height: 30px;
    letter-spacing: 2px;
    /* text-align: center; */
}

#page2 {
    margin-top: 60px;
    min-height: 100vh;
    position: relative;
    z-index: 10;
}


#page2 .row1 {
    text-align: center;
    padding: 50px 0;

}

#page2 .row1 h1 {
    font-weight: 800;

}

#page2 .row2 h3 {
    font-weight: 700;
    cursor: pointer;
    position: relative;
    padding: 20px 0;
}

#page2 .row2 {
    text-align: center;
    padding-bottom: 20px;
}

#page2 .row3{
    display: none;
}
#page2 .active .row{
    display: block;
    transition: all 1s;
}

#page2 .active .row3 {
    /* border: 2px solid red; */
    min-height: 50vh;
    background-color: #95c11e;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
}

#page2 .active .row3 .left {
    /* border: 2px solid rgb(9, 195, 46); */
    display: flex;
    justify-content: center;
    align-items: center;
}

#page2 .active .row3 .left img {
    height: 94%;
    object-fit: cover;
    border-radius: 10px;
}
#page2 .active .row3 .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid red; */
    position: relative;
}
#page2 .active .row3 h1 {
    color: black;
    font-size: 1.75rem;
    font-weight: 800;
    text-transform: uppercase;
    padding: 20px ;
}
#page2 .active .row3 p {
    color: black;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 10px 30px 10px 10px ;
}
#page2 .active .row3 #dot {
    height: 90vh;
    position: absolute;
    top: 0;
    right: 0;
    object-fit: cover;
    opacity: 0.5;
    /* width: 50vw/; */
}
#page2 .active .right .nav-button{
    width: fit-content;
}
#page2 .active .right .nav-button:hover{
    border: 2px solid black;
}

#page2 .row2 .active-btn-inidividual::after{
    content: "";
    border-radius: 5px;
    height: 3px;
    width: 290px;
    background-color: #95c11e;
    position: absolute;
    top: 60px;
    right: 65px;
}
#page2 .row2 .active-btn-groop::after{
    content: "";
    border-radius: 5px;
    height: 3px;
    width: 225px;
    background-color: #95c11e;
    position: absolute;
    top: 60px;
    right: 95px;
    
}
#page2 .row2 .active-btn-junior::after{
    content: "";
    border-radius: 5px;
    height: 3px;
    width: 230px;
    background-color: #95c11e;
    position: absolute;
    top: 60px;
    right: 93px;
}
#page2 .row2 #individualLessonBtn::before{
    content: "";
    border-radius: 5px;
    height: 3px;
    width: 290px;
    background-color: #95c11e;
    position: absolute;
    top: 60px;
    transform: scale(0);
    transition: all 0.7s;
}
#page2 .row2 #individualLessonBtn:hover::before{
    transform: scale(1);
}
#page2 .row2 #groopLessonBtn::before{
    content: "";
    border-radius: 5px;
    height: 3px;
    width: 225px;
    background-color: #95c11e;
    position: absolute;
    top: 60px;
    transform: scale(0);
    transition: all 0.7s;
}

#page2 .row2 #groopLessonBtn:hover::before{
    transform: scale(1);
}
#page2 .row2 #juniorLessonBtn::before{
    content: "";
    border-radius: 5px;
    height: 3px;
    width: 230px;
    background-color: #95c11e;
    position: absolute;
    top: 60px;
    transform: scale(0);
    transition: all 0.6s;
}
.color{
    color: #95c11e;
}

#page2 .row2 #juniorLessonBtn:hover::before{
    transform: scale(1);
}

#page3{
    min-height: 70vh;
    width: 100%;
    /* border: 2px solid red; */
    position: relative;
    z-index: 10;
}
#page3 #page3-heading{
    font-size: 3.3rem;
    text-align: center;
    font-weight: 800;
}
#page3 .container {
    
    min-height: 60vh;
    width: 100%;
    /* border: 2px solid rgb(6, 231, 43); */
}
#page3 .container .row{
    position: relative;
    height: 100%;
    width: 100%;
    /* border: 2px solid rgb(179, 34, 34); */
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
#page3 .container .row .page3-dot-img{
    position: absolute;
    top: -150px;
    left: -40px;
    
}


#page3 .container .row .page3-card-inner-left{
    height: 80%;
    /* border: 2px solid yellow; */
    position: relative;
    
}
#page3 .container .row .page3-card-inner-left img{
    height: 100%;
    width:100%;
    object-fit: cover;
    border-radius: 10px;
}
#page3 .container .row .page3-card-inner-right{
    height: 80%;
    position: relative;
    /* border: 2px solid rgb(68, 0, 255); */
}
#page3 .container .row .page3-card-inner-right img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
#page3 #professonals-overlay-right{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    /* border: 2px solid red; */
    background-color: #95c11e;
    opacity: 0;
    transition: all 1s;
    border-radius: 10px;
}
#page3 #professonals-overlay-right:hover{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    /* border: 2px solid red; */
    background-color: #95c11e;
    opacity: 1;
}
#page3 #professonals-overlay-left{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    /* border: 2px solid red; */
    background-color: #95c11e;
    opacity: 0;
    transition: all 1s;
    border-radius: 10px;
}
#page3 #professonals-overlay-left:hover{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    /* border: 2px solid red; */
    background-color: #95c11e;
    opacity: 1;
}

#page3 .container .page3-card-inner-right h1, h4{
    position: absolute;
    color: rgb(255, 255, 255);
}
#page3 .page3-card-inner-right h4{
    
    bottom: 70px;
    font-weight: 700;
    margin-left: 40px;
}
#page3 .container .page3-card-inner-right h1{
    margin-left: 40px;
    bottom: 20px;
    font-weight: 800;
    font-size: 2.5rem;
    letter-spacing: 2px;
}
#page3 .container .page3-card-inner-left h1, h4{
    position: absolute;
    color: rgb(255, 255, 255);
}
#page3 .page3-card-inner-left h4{
    
    bottom: 70px;
    font-weight: 700;
    margin-left: 40px;
}
#page3 .container .page3-card-inner-left h1{
    margin-left: 40px;
    bottom: 20px;
    font-weight: 800;
    font-size: 2.5rem;
    letter-spacing: 2px;
}

#page3 #professonals-overlay-right h1{
    color: black;
    top: 100px;
}
#page3 #professonals-overlay-right p  {
    position: relative;
    top: 170px;
    padding-left: 50px;
    font-size: 1.2rem;
    color: black;
    font-weight: 600;
}
#page3 #professonals-overlay-left h1{
    color: black;
    top: 100px;
}
#page3 #professonals-overlay-left p  {
    position: relative;
    top: 170px;
    padding-left: 50px;
    font-size: 1.2rem;
    color: black;
    font-weight: 600;
}

@media (max-width:600px){
    #page3 #professonals-overlay-left {
        display: none;
    }
    #page3 #professonals-overlay-right {
        display: none;
    }
    #page3 .container .page3-card-inner-left h1{
        margin-left: 40px;
        bottom: 20px;
        font-weight: 800;
        font-size: 1.5rem;
        letter-spacing: 2px;
    }
    #page3 .container .page3-card-inner-right h1{
        margin-left: 40px;
        bottom: 20px;
        font-weight: 800;
        font-size: 1.5rem;
        letter-spacing: 2px;
    }
}
#page4 {
    min-height: 45vh;
    width: 100%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;


}

#page4-card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    position: relative;
    /* border: 2px solid rgb(154, 19, 19); */
}


.page4-card {
    width: 28vw;
    aspect-ratio: 2/0.75;
    /* background-color: #95c11e; */
    border-radius: 10px;
    background-position: center center;
    background-size: cover;
    position: relative;
    z-index: 10;
}

#page4-card1 {
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/page-toptracer-1024x683.jpg?strip=all&lossy=1&sharp=1&ssl=1);
    /* scale: 1.1; */
}

#page4-card2 {
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/page-lessons-1024x683.jpg?strip=all&lossy=1&sharp=1&ssl=1);
}

#page4-card3 {
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/page-ag-1024x682.jpg?strip=all&lossy=1&sharp=1&ssl=1);
}

.page4-overlay {
    height: 100%;
    width: 100%;
    /* opacity: 1; */
    background-color: #95c11e;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    position: relative;
    z-index: 99;
    transition: all 0.5s;
}

.page4-overlay:hover {
    background-color: transparent;
    color: white;
}

.page4-overlay h2 {
    font-weight: 800;
    font-size: 2.5rem;
}

#page4-heading {
    position: absolute;
    color: white;
    top: -6vw;
    font-size: 6vw;
    font-weight: 700;
    color: black;
    -webkit-text-stroke: 2px white;
}

@media (max-width:1000px) {
    #page4-heading {
        position: absolute;
        font-size: 5.5vw;
        top: -5.5vw;

    }

    #page4-card-wrapper .page4-overlay h2 {
        font-weight: 700;
        font-size: 4.5vw;
    }

    #page4-card-wrapper {
        flex-direction: column;
        gap: 20px;
    }

    #page4-card-wrapper .page4-card {
        width: 100%;
        /* padding: 50px 0; */
        /* border: 2px solid white; */
    }

    #page4-card-wrapper {
        width: 85%;
    }

    .page4-overlay h2 {
        font-weight: 700;
        font-size: 1.5rem;
    }

}

#footer{
    background: linear-gradient(to top right , #c0d619,#119f3a);
    color: black;
    position: relative;
    z-index: 10;
    overflow: hidden;
}


#footer  #footer-dot-img{
    transform: rotate(180deg);
    position: absolute;
    scale: 1.75;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.7;
}
